<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" data-th-href="@{/}">Brayan Mares</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" data-th-href="@{/indexAdmin}" 
             sec:authorize="hasRole('ROLE_ADMIN')">Administracion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-th-href="@{/otro}">Otro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form method="post" data-th-action="@{/logout}">
        <a href="#" onclick="this.parentNode.submit();" class="btn btn-outline-success">Logout</a>
      </form>
    </div>
  </div>
</nav>

      
      
